html {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 300;
}

h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

li {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    padding: 0.3rem
}

.content {
    max-width: 1366px;
    margin: auto;
}

/* header & nav */

header {
    width: 100%;
    position: fixed;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 5em;
    margin-bottom: 0px;
}

.navbar-content {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
}

.navbar-content ul {
    display: flex;
    align-items: center;
    margin-right: 3.25rem;
    list-style-type: none;
    flex-shrink: 1;
}

header li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}

header li a {
    color: #525252;
    text-decoration: none;
    font-size: 1.25rem;
}

#nav-logo {
    align-items: center;
    justify-items: flex-start;
    margin-left: 1.875em;
    margin-right: auto;
}

#nav-logo img {
    width: 3.75em;
    height: 3.75em;
}

/* main */

main {
    position: relative;
    top: 5em;
    
}

/* banner */

.banner {
    display: flex;
    width: 100%;
    height: 31.25rem;
    background-image: url("https://www.rafaeljschwartz.com/resources/images/webp-images/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.banner-text {
    position: relative;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: black;
    height: fit-content;
    min-width: 18.75;
    width: fit-content;
    height: auto;
    align-content: center;
    flex-shrink: 1;
    text-align: center;

}

.banner-text h1  {
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
    height: auto;
}

.banner-text h2 {
    font-size: 1.15rem;
    color: white;
    margin: 1rem;
    height: auto;
}
/* about me */

.introduction-bucket {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 3.75rem;
}

.introduction-text {
    padding: 2em;
    align-items: center;
}

.introduction-image {
    padding: 1em;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;

}

.introduction-image img {
    max-width: 20rem;
    align-items: center;
    justify-items: center;
}

.introduction-text h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.introduction-text p {
    max-width: 45rem;

}

/* skills and experience */

.skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-container h2 {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.skill {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.skill img {
    max-width: 24rem;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.skill p {
    text-align: center;
    font-weight: 400;
    max-width: 20rem;
    margin-top: 1.5rem;
}

.skill-button {
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.skill-button a {
    text-decoration: none;
    color: white;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: black;
    padding: 1rem;
    font-size: 1.5rem;


}

/* closing banner */

#cta-closing {
    width: 100%;
    height: 30rem;
    display: flex;
    background-image: url("https://www.rafaeljschwartz.com/resources/images/webp-images/closingBanner.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
}

#cta-text-closing {
    background-color: #525252;
    padding: 1rem;
    border: solid 1px #525252;
    border-radius: 20px;
}

.banner-header h3 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem;

}

.banner-button {
    margin: 4px;
    padding: 0.3rem;
    background-color: lightgrey;
    border: solid 1px lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.banner-button a {
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;

}

/* footeer */

footer {
    height: 5rem;
    min-height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}

footer .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-shrink: 1;

}

footer span, footer a {
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    
}

/* experience page */

.title {
    padding-left: 1rem;
    margin: 4rem;
}

.period, .location {
    font-size: 14px;
}

.institution, .job-title, .company, .education-title, .language-title {
    font-size: 20px;
    font-weight: 600;
}

/* experience banner */

.experience-banner {
    display: flex;
    width: 100%;
    height: 31.25rem;
    background-image: url("https://www.rafaeljschwartz.com/resources/images/webp-images/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.experience-banner-content {
    max-width: 85.375rem;
    min-height: 17.25rem;
    
}

.experience-banner-text {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: black;
    height: fit-content;
    width: fit-content;
    height: auto;
    text-align: center;
    min-width: 37.5rem;
}

.experience-banner-text h1, .experience-banner-text h2, .experience-banner-text p, .experience-banner-text a {
    color: white;
    margin: 1rem;

}

.social-icon {
    max-width: 1rem;
}

.social-m {
    text-decoration: none;
    width: fit-content;
    height: auto;
}

.contact-banner, .main-content-banner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
}

hr {
    width: 70%;
    opacity: 0.8;
}


#download-cv {
    color:#1b1b1b;
    padding: 0.6rem;
    background-color: #c6c1c1;
    border: solid 1px #c6c1c1;
    border-radius: 20px;
    justify-content: center;
    text-decoration: none;
}

/* experience, education, languages, and certifications grid */

.experience-grid, .education-grid, .language-grid, .certification-grid {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 3rem;
}

.date {
    border-right: solid 1px #979797;
    text-align: center;
    padding: 0rem 2rem 1.5rem 1rem;
    box-shadow: 0px 5px 0px -5px lightgray;

}

.experience {
    padding: 0rem 1rem 1.5rem 5%;
    box-shadow: 0px 5px 0px -5px lightgray;
}

.school {
    border-right: solid 1px #979797;
    text-align: center;
    padding: 0rem 2rem 1.5rem 1rem;
    box-shadow: 0px 5px 0px -5px lightgray;

}

.education {
    padding: 0rem 1rem 1.5rem 5%;
    box-shadow: 0px 5px 0px -5px lightgray;
}

.language-grid {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 3rem;
}

.empty {
    border-right: solid 1px #979797;
    text-align: center;
    padding: 0rem 2rem 1.5rem 1rem;
    box-shadow: 0px 5px 0px -5px lightgray;

}

.language {
    padding: 0rem 1rem 1.5rem 5%;
    box-shadow: 0px 5px 0px -5px lightgray;
}

.light-font {
    font-weight: 300;
}

.certification {
    padding: 0rem 1rem 1.5rem 5%;
    box-shadow: 0px 5px 0px -5px lightgray;
}

.certification a {
    color: #525252;
    text-decoration: underline;
}

/* contact page */

.contact-title {
    margin: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.contact-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
}

.column-left {
    flex-basis: auto !important;
    width: calc(75% - 116px*1/2);
    margin-left: 1em;
    margin-right: 1em;
}

.column-right {
    flex-basis: auto !important;
    width: calc(25% - 116px*1/2);
    margin-left: 1em;
}


.form-fields {
    list-style-type: none;
}

.hidden-label {
    display: none;
}

.multi-checkbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2.5em;

}

.form-fields {
    display: flex;
    flex-wrap: wrap;
}

.form-half {
    width: calc(50% - 1em);
    padding-bottom: 2.5em;
}

.form-full {
    width: calc(100% - 1.3em);
    padding-bottom: 2.5em;
}

.multi-checkbox-text {
    width: 100%;
}

.form-body {
    margin-right: 2em;
}

.form-footer {
    margin-left: 2em;
    padding-bottom: 2.5em;
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], textarea {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-bottom: 1px solid #030303;
    background-color: transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    }

input[type="checkbox"], input[type="radio"] {
    display: none
}

input[type="checkbox"] + label, input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #030303;
    left: 0;
    top: 0;
    position: absolute
}

input[type="checkbox"] + label:after, input[type="radio"] + label:after {
    content: "";
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    left: 1px;
    top: 8px;
    border-bottom: solid 3px #ccc;
    border-left: solid 3px #ccc;
    transition: ease-in-out transform .1s
}

input[type="radio"] + label:after, input[type="checkbox"] + label:after {
    content: "x";
    width: 9px;
    height: 10px;
    left: 6px;
    top: 0;
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 1;
    font-size: 18px
}

input[type="radio"]:checked + label:after, input[type="checkbox"]:checked + label:after {
    -webkit-transform: scale(1);
    transform:scale(1)
}

input[type=submit] {

    box-sizing: border-box;
    padding: 0 2.1875em;
    margin: 20px 0;
    height: 50px;
    border: 2px solid #000;
    color: #fff;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    background:#030303
}

.submit-button:hover, input[type=submit]:hover {
    background: #000;
    color: #ccc;
    text-decoration:none
}

button:focus, input[type=submit]:focus {
    outline:none
}

::placeholder {
    color:#030303;
    opacity: 0.8;
    font-size: 1em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.multi-checkbox-text p, .check-label {
    font-size: 1em;
    color:#030303;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.contact-columns h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.contact-social-icon {
    width: 1.8rem;
    height: auto;
}

.contact-social {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.contact-social li {
    padding-right: 1rem;
}

.rows a {
    color:#1b1b1b;
}

.rows {
    padding-bottom: 2.5rem;
}



/* media queries */

/* large screens */

@media only screen and (min-width: 601px) and (max-width: 1000px) {

    html {
        font-size: 16px;
    }

    header li {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    .navbar-content ul {
        margin-right: 1rem;
    }

    header li a {
       font-size: 1rem;
    }

    footer {
        height: fit-content;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3;
        font-weight: 300;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer .footer-content {
        font-size: 0.75rem;
    }

    .banner-text {
        padding: 0.2rem;
        border: solid 0.4px black;
        width: fit-content;
        
    }
  
    #nav-logo img {
        width: 3.25em;
        height: 3.25em;
    }

    #cta-text-closing {
        border: solid 0.5px #525252;
        border-radius: 20px;
    }
    
    .banner-header h3 {
        font-size: 1.2rem;
        color: white;
        margin: 1rem;
    
    }
    
    .banner-button {
        margin: 2px;
        border: solid 0.5px lightgray;
        border-radius: 20px;
    }
    
    .period, .location {
        font-size: 0.75rem;
    }
    
    .institution, .job-title, .company, .education-title, .language-title, .certification-title {
        font-size: 1rem;
    }

    .experience-grid, .education-grid, .language-grid, .certification-grid {
        margin: 1rem;
    }

    .title {
        padding-left: 0.4rem;
        padding-bottom: 0.4rem;
        margin: 1.2rem 0.8rem 0.8rem 0.8rem;
        font-size: 22px;
    }

    .deliverables li {
        font-size: 0.875rem;
    }

    .experience-banner-text {
        min-width: 0rem;
    }

    .column-left {
        width: auto;
    }

    .column-right {
        width: 100%;
    }

    .form-half {
        width: calc(100% - 1.3em);
    }

    .form-footer {
        display: flex;
        justify-content: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    ::placeholder, .multi-checkbox-text p, .check-label, .rows a {
        font-size: 0.8em;
    }

    .form-check {
        width: 100%;
    }

    input[type=submit] {
        font-size: 1em;
    }

    .contact-social {
        justify-content: center;
    }
    
    
}

/* medium phones */

@media only screen and (min-width: 360px) and (max-width: 600px) {

    html {
        font-size: 16px;
    }

    header li {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    .navbar-content ul {
        margin-right: 1rem;
    }

    header li a {
       font-size: 1rem;
    }

    footer {
        height: fit-content;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3;
        font-weight: 300;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer .footer-content {
        font-size: 0.75rem;
    }

    .banner-text {
        padding: 0.2rem;
        border: solid 0.4px black;
        width: fit-content;
        
    }
  
    #nav-logo img {
        width: 3.25em;
        height: 3.25em;
    }

    #cta-text-closing {
        border: solid 0.5px #525252;
        border-radius: 20px;
    }
    
    .banner-header h3 {
        font-size: 1.2rem;
        color: white;
        margin: 1rem;
    
    }
    
    .banner-button {
        margin: 2px;
        border: solid 0.5px lightgray;
        border-radius: 20px;
    }
    
    .period, .location {
        font-size: 0.75rem;
    }
    
    .institution, .job-title, .company, .education-title, .language-title, .certification-title {
        font-size: 1rem;
    }

    .experience-grid, .education-grid, .language-grid, .certification-grid {
        margin: 1rem;
    }

    .title {
        padding-left: 0.4rem;
        padding-bottom: 0.4rem;
        margin: 1.2rem 0.8rem 0.8rem 0.8rem;
        font-size: 22px;
    }

    .deliverables li {
        font-size: 0.875rem;
    }

    .experience-banner-text {
        min-width: 0rem;
    }

    .column-left {
        width: auto;
    }

    .column-right {
        width: 100%;
    }

    .form-half {
        width: calc(100% - 1.3em);
    }

    .form-footer {
        display: flex;
        justify-content: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    ::placeholder, .multi-checkbox-text p, .check-label, .rows a {
        font-size: 0.8em;
    }

    .form-check {
        width: 100%;
    }

    input[type=submit] {
        font-size: 1em;
    }

    .contact-social {
        justify-content: center;
    }
    
    
}

/*small phones */

@media only screen and (min-width: 0px) and (max-width: 359px) {

    html {
        font-size: 12px;
    }

    header li {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    .navbar-content ul {
        margin-right: 1rem;
    }

    header li a {
       font-size: 1.1rem;
    }

    p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 600;
    }

    footer {
        height: fit-content;
    }

    footer .footer-content {
        font-size: 0.85rem;
    }

    .banner-text {
        padding: 0.2rem;
        border: solid 0.4px black;
        width: fit-content;
        
    }

    .experience-banner-text h2 {
        font-size: 1.5rem;
    }

    .experience-banner-text p, .experience-banner-text a {
        font-size: 0.9rem;
    }

    
    #nav-logo img {
        width: 3.25em;
        height: 3.25em;
    }

    #cta-text-closing {
        border: solid 0.5px #525252;
        border-radius: 20px;
    }
    
    .banner-header h3 {
        font-size: 1.2rem;
        color: white;
        margin: 1rem;
    
    }
    
    .banner-button {
        margin: 2px;
        border: solid 0.5px lightgray;
        border-radius: 20px;
    }

    .institution, .job-title, .company, .education-title, .language-title, .certification-title {
        font-size: 1.083rem;
    }



    .experience-grid, .education-grid, .language-grid, .certification-grid {
        margin: 0.8rem;
    }

    .period, .location {
        font-size: 0.917rem;
    }

    .title {
        padding-left: 0.4rem;
        padding-bottom: 0.4rem;
        margin: 1.2rem 0.8rem 0.8rem 0.8rem;
        font-size: 16px;
    }

    .deliverables li {
        font-size: 0.917rem;
    }

    .experience-banner-text {
        min-width: 0rem;
    }

    .column-left {
        width: auto;
    }

    .column-right {
        width: 100%;
    }

    .form-half {
        width: calc(100% - 1.3em);
    }

    ::placeholder, .multi-checkbox-text p, .check-labe, .rows a {
        font-size: 0.75em;
    }

    .form-check {
        width: 100%;
    }

    input[type=submit] {
        font-size: 1em;
    }

    .form-footer {
        display: flex;
        justify-content: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    .contact-social {
        justify-content: center;
    }

}